<div class="article_small">
    <img src="/public/img/article_image.jpg" alt="article_image">
    <h2 class="section-header">Пришествие Бесобоя!</h2>
    <a href="/wiki/article" class = "btn section-header">Подробнее</a>
</div>
<link rel="stylesheet" href="/public/css/article_small.css">