<div class="article">
    <div class="article-background">
        <img src="/public/img/big_article_image.jpg" alt="article_bg" class="back">
        <div class="gradient"></div>
    </div>
    <div class="article-container">
        <h2 class = "section-header">Какая-то невероятно крутая новость!</h2>
        <p>Что-то крутое случилось в мире комиксов ваааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааау!!!!!!</p>
        <a href="/wiki/article" class = "section-header btn">Подробнее</a>
    </div>
</div>
<link rel="stylesheet" href="/public/css/article.css">