<div class="discuss_small">
    <h2 class = "section-header">Тема обсуждения</h2>
    <p>Описание приложенное автором данного обсуждения в котором он рассказыва...</p>
    <a href="/forum/discussion" class="disc_btn">
        <img src="/public/img/send_icon.png" alt="Go">
    </a>
</div>
<link rel="stylesheet" href="/public/css/discuss_small.css">