<div class="discuss">
    <h2 class="section-header">Тема обсуждения</h2>
    <p>Описание приложенное автором данного обсуждения в котором он рассказывает всякие интересные штуки и вообще какой он крутой, классный и весь из себя.</p>
    <ul class="comment-list">
        <li>
            <span class="author">Пользователь1:</span> Его шестое от конца сообщение, если длинее строки то...
        </li>
        <li>
            <span class="author">Пользователь2:</span> Его пятое от конца сообщение, если длинее строки то...
        </li>
        <li>
            <span class="author">Пользователь3:</span> Его четвертое от конца сообщение, если длинее строки то...
        </li>
        <li>
            <span class="author">Пользователь2:</span> Его третье от конца сообщение, если длинее строки то...
        </li>
        <li>
            <span class="author">Пользователь1:</span> Его второе от конца сообщение, если длинее строки то...
        </li>
    </ul>
    <a href="/forum/discussion" class="btn">Подробнее</a>
</div>
<link rel="stylesheet" href="/public/css/discuss.css">