body {
    margin: 0;
    padding: 0;
    padding-top: 155px;
    padding-bottom: 40px;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: regular;
    color: white;
    background-color: #424242;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 60px;
}

.section-header {
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
}

.block-header {
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    margin: 30px 90px;
    margin-top: 0;
}

.btn {
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    background-color: #8A3A97;
    height: 70px;
    border-radius: 35px;
    color: white;
    padding: 17px 0;
    text-align: center;
}