<ul class="articles">
    <% for(let i = 0; i < 3; i++) { %> 
        <li>
            <%- include('../elements/article') %>
        </li>
    <% } %>
</ul>
<link rel="stylesheet" href="/public/css/articles.css">