<div class="article-block">
    <img src="/public/img/article_image.jpg" alt="article_image">
    <h2 class="section-header">Название какой-то статьи</h2>
    <ul class="genres-list">
        <% for(let i = 0; i < 4; i++) {%> 
            <li><span>Тип статьи:</span> История персонажа</li>
            <li><span>Издатель:</span> Bubble Comics</li>
            <li><span>Вселенная:</span> Bubble</li>
            <li><span>Персонаж:</span> Бесобой</li>
            <li><span>Цикл:</span> Время Ворона</li>
        <% } %>
    </ul>
    <p>
        «Бесобо́й» — серия комиксов, созданная издательством Bubble Comics и публиковавшаяся в период с 2012 по 2021 год. Первые 50 выпусков издавались в период с 1 октября 2012 по 24 декабря 2016. «Бесобой Vol.2», с обновлённой в рамках инициативы «Второе дыхание» нумерацией и новым логотипом, выпускался с 20 января 2017 по 16 мая 2021. Так же, как и оригинальный «Бесобой», содержит в себе 50 выпусков. <br> <br>
        Действие комикса происходит главным образом в Москве. Главный герой серии — борец с демонами Данила Бесобой[1]. Бесобой охотится на демонов, заполнивших Москву из-за начавшейся в Аду войны после свержения Сатаны с трона. Он убивает их, а прахом заполняет свои песочные часы, продлевающие ему жизнь. Главное оружие Данилы — татуировки из крови Сатаны, сделанные мастером по прозвищу Чёрный Пёс (настоящее имя — Алексей Рыков). Напарником Бесобоя становится бес по имени Шмыг, перебежчик из Ада.
    </p>
</div>
<link rel="stylesheet" href="/public/css/article-content.css">

  
  
  
  
  