<ul class="discussions">
    <% for (let i = 0; i < 3; i++) { %> 
        <li>
            <%- include('../elements/discuss.ejs') %>
        </li>
    <% } %>
</ul>
<link rel="stylesheet" href="/public/css/discussions.css">