<div class = header>
    <div class = "container">
        <a href="/">
            <img class = "logo" src="/public/img/logo.png" alt="Логотип" width="auto" height="75px">
        </a>
        <ul class="nav">
            <li><a href="/wiki" class="section-header">Вики</a></li>
            <li><a href="/forum" class="section-header">Форум</a></li>
        </ul>
        <div class="search-container">
            <input type="text" placeholder="Поиск..." class = "search">
            <img src="/public/img/search_icon.png" alt="search">
        </div>
        <a href="/" class="sign-in-btn section-header">Войти</a>
    </div>
</div>