<ul class = "small-articles">
    <% for(var i = 0; i < 6; i++) {%>
        <li><%- include('../elements/article_small.ejs') %></li>
    <%} %>
</ul>
<link rel="stylesheet" href="/public/css/small_articles.css">